
<ul class="list-unstyled">

  <li class="dropdown pc-h-item" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0 bg-gray-200" data-bs-toggle="dropdown" ngbDropdownToggle>
      <i antIcon type="bell" theme="outline"></i>
      <span class="badge bg-primary pc-h-badge">3</span>
    </a>
    <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header d-flex align-items-center justify-content-between">
        <h5 class="m-0">Notification</h5>
        <a class="bg-transparent"><i class="text-success d-flex f-20" antIcon theme="outline" type="check-circle"></i></a>
      </div>
      <div class="dropdown-divider"></div>
      <ng-scrollbar style="min-height: 300px" visibility="hover">
        <div class="dropdown-header px-0 text-wrap header-notification-scroll">
          <div class="list-group list-group-flush w-100">


            <a class="list-group-item list-group-item-action">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <div class="user-avatar bg-light-danger"><i class="d-flex" antIcon theme="outline" type="setting"></i></div>
                </div>
                <div class="flex-grow-1 ms-3">
                  <span class="float-end text-muted">2:45 PM</span>
                  <p class="text-body mb-1">
                    Your Profile is Complete &nbsp;
                    <b>60%</b>
                  </p>
                  <span class="text-muted">7 hours ago</span>
                </div>
              </div>
            </a>


          </div>
        </div>
      </ng-scrollbar>
      <div class="dropdown-divider"></div>
      <div class="text-center py-2">
        <a class="link-primary">View all</a>
      </div>
    </div>
  </li>
  <li class="dropdown pc-h-item header-user-profile" ngbDropdown>
    <a class="pc-head-link dropdown-toggle arrow-none me-0" ngbDropdownToggle>
      
      <img *ngIf="userimage.image" [src]="'data:image/png;base64,' + userimage.image"  alt="user-image" class="user-avatar me-2" />
      
      <span class="f-w-600">{{user.nom}}</span>
    </a>
    <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" ngbDropdownMenu>
      <div class="dropdown-header">
        <div class="d-flex mb-1">
          <div class="flex-shrink-0">

            <img  *ngIf="userimage.image" [src]="'data:image/png;base64,' + userimage.image"  alt="user-image" class="user-avatar me-2" />

          </div>
          <div class="flex-grow-1 ms-3 text-start">
            <h6 class="mb-0">{{user.nom}}</h6>
            <span>{{user.role}}</span>
          </div>
          <a href="javascript:" class="bg-transparent"><i class="d-flex f-20" antIcon theme="outline" type="logout"  (click)="logout()"></i></a>
        </div>
      </div>
      <ul ngbNav #nav="ngbNav" class="nav drp-tabs nav-fill nav-tabs">
        <li ngbNavItem="1">
          <a ngbNavLink>
            <i antIcon theme="outline" type="user" class="me-2"></i>
            Profile
          </a>
          <ng-template ngbNavContent>

            

              <div>
                <a class="dropdown-item" (click)="openPopup()">
                  <i class="text-muted" antIcon theme="outline" type="edit"></i>
                  <span>Edit Profile</span>
                </a>
              </div>



            <div>
              <a class="dropdown-item" (click)="logout()">
                <i class="text-muted" antIcon theme="outline" type="logout"></i>
                <span>Logout</span>

              </a>
            </div>
          </ng-template>
        </li>

      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </li>  
</ul>


<!-- Popup  -->


<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <h1>Edit Profile</h1>
    <span class="close" (click)="closePopup()">&times;</span>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">


      <div class="form-group">
        <label for="nom">Nom:</label>
        <input id="nom"  type="text" formControlName="nom" [(ngModel)]="user_copy.nom" />
        <!-- <div *ngIf="userForm.get('nom')?.invalid ">
          <small class="error">Nom is required</small>
        </div> -->
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input id="email"  type="email" formControlName="email" [(ngModel)]="user_copy.email" readonly  />
        <!-- <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
          <small class="error" *ngIf="userForm.get('email')?.hasError('required')">Email is required</small>
          <small class="error" *ngIf="userForm.get('email')?.hasError('email')">Invalid email</small>
        </div> -->
      </div>

      <div class="form-group">
        <label for="num_tel">Num Tel:</label>
        <input id="num_tel" type="text" formControlName="num_tel" [(ngModel)]="user_copy.num_tel"/>
        <!-- <div *ngIf="userForm.get('num_tel')?.invalid && userForm.get('num_tel')?.touched">
          <small class="error" *ngIf="userForm.get('num_tel')?.hasError('required')">Phone number is required</small>
          <small class="error" *ngIf="userForm.get('num_tel')?.hasError('pattern')">Invalid phone number</small>
        </div> -->
      </div>



      <div class="form-group">
        <label for="num_tel">Password:</label>
        <input id="password"  type="password" formControlName="password"/>
        <!-- <div *ngIf="userForm.get('num_tel')?.invalid && userForm.get('num_tel')?.touched">
          <small class="error" *ngIf="userForm.get('num_tel')?.hasError('required')">Phone number is required</small> 
           <small class="error" *ngIf="userForm.get('num_tel')?.hasError('pattern')">Invalid phone number</small>
        </div> -->
      </div>


      <div class="form-group">
        <label for="num_tel">Confirm Password:</label>
        <input id="ConfirmPassword"  type="password" formControlName="confirmpassword" />
        <!-- <div *ngIf="userForm.get('num_tel')?.invalid && userForm.get('num_tel')?.touched">
          <small class="error" *ngIf="userForm.get('num_tel')?.hasError('required')">Phone number is required</small>
          <small class="error" *ngIf="userForm.get('num_tel')?.hasError('pattern')">Invalid phone number</small>
        </div> -->
      </div>


      <div class="form-group">
        <label for="image">Image:</label>
        <input id="image" type="file" (change)="onFileChange($event)" />
      </div>

      <button type="submit"  [disabled]="userForm.invalid">Submit</button>
    </form>



  </div>
</div>





