<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Responsive Contact us Form | CodingNepal</title>
      <!-- <link rel="stylesheet" href="style.css"> -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="container">
        <div class="text">Demande Absence</div>


        <form  [formGroup]="DemandeAbsence" (ngSubmit)="submitForm()" >
           <div class="form-row">
              <div class="input-data">
                 <input type="text"  formControlName="type" required>
                 <div class="underline"></div>
                 <label for="">Type maladie</label>
              </div>
           </div>

           <div class="form-row">
            <div class="input-data">
               <input type="date" formControlName="debut_d" required>

               <div class="underline"></div>
               <label for="">Debut </label>
            </div>
         </div>

         <div class="form-row">
            <div class="input-data">
               <input type="Date" formControlName="fin_d" required>
               <div class="underline"></div>
               <label for="">Fin </label>
            </div>
         </div>

           <div class="form-row">
              <div class="input-data textarea">
                 <!-- <textarea rows="8" cols="80" required></textarea> -->
                 <div class="form-row submit-btn">
                    <div class="input-data">
                       <div class="inner"></div>
                       <input type="submit" [disabled]="DemandeAbsence.invalid" value="submit">
                    </div>
                 </div>


              </div>
           </div>
        </form>


     </div>
   </body>
</html>