<!-- user-modal.component.html -->
<!-- <div class="container">
  <div class="formcontainer">
    <h1 *ngIf="isAddMode">Add User</h1>
    <h1 *ngIf="!isAddMode">Edit User</h1>

    <br>
    <form (ngSubmit)="isAddMode ? onSubmit() : edit()" #userForm="ngForm">


      <div class="form-group">
        <label for="nom">Nom</label>
        <input id="nom" name="nom" class="form-control" [(ngModel)]="user.nom" required>
      </div>

      <div class="form-group">
        <label for="e_mail">e_mail</label>
        <input id="e_mail" name="e_mail" class="form-control" [(ngModel)]="user.email" required email>
      </div>

      <div class="form-group">
        <label for="num_tel">Numero tel</label>
        <input id="num_tel" name="num_tel" class="form-control" [(ngModel)]="user.num_tel" required>
      </div>
      
      <div class="form-group">
        <label for="num_tel">Password</label>
        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="user.password">

      </div>

      <button type="submit" class="btn btn-primary" *ngIf="isAddMode">Submit</button>
      <button type="submit" class="btn btn-primary" *ngIf="!isAddMode">Editer</button>
      <button type="button" class="btn btn-info" >Reset</button>
    </form>

  </div>
</div> -->


<!-- user-modal.component.html -->
<div class="container">
    <div class="form-container">
      <h1>Update User</h1>
      <br>


      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  
        <div class="form-group">
          <label for="nom">Nom</label>
          <input id="nom"  class="form-control"  required  [(ngModel)]="userdata.nom" formControlName="nom">
        </div>
  
        <div class="form-group">
          <label for="e_mail">E-mail</label>
          <input id="e_mail" name="e_mail" class="form-control" required  [(ngModel)]="userdata.email"  formControlName="email" readonly>
        </div>
  
        <div class="form-group">
          <label for="num_tel">Numéro de Téléphone</label>
          <input id="num_tel" name="num_tel" class="form-control" required [(ngModel)]="userdata.num_tel" formControlName="num_tel">
        </div>
        
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control" formControlName="password" formControlName="password">
        </div>
  
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" class="form-control" accept="image/*"  (change)="onFileChange($event)" >
        </div>


        <div class="form-group">
          <label for="role">Role</label>
          <select id="role" name="role" class="form-control" required [(ngModel)]="selectedRole" formControlName="role" >
            <option value="manager">Manager</option>
            <option value="admin">Admin</option>
            <option value="collaborateur">Collaborateur</option>
          </select>
        </div>
        
        <div *ngIf="selectedRole === 'collaborateur'" class="form-group">
          <label for="manager">Manager</label>
          <select id="manager" name="manager" class="form-control" formControlName="manager">
            <option value="">Select Manager</option>
            <option *ngFor="let manager of managerList" [value]="manager.idmanager">
              {{ manager.nommanager }}
            </option>
          </select>
        </div>
        
  
        <div class="button-group">
            <button type="submit" class="btn btn-submit"  [disabled]="userForm.invalid">Editer</button>
          </div>


      </form>
    </div>
  </div>
  
