<!-- <div class="row">
    <div class="col-sm-4" *ngFor="let card of cards">
      <app-card [cardTitle]="card.type" blockClass="pc-component">
        <div class="card-content">
          <p>Type de Maladie: {{ card.type }}</p>
          <p>Début: {{ card.debut }}</p>
          <p>Fin: {{ card.fin }}</p>
          <p>Status: {{ card.status }}</p>
        </div>
      </app-card>
    </div>
  </div>
   -->

   <!-- <div class="row">
    <div class="col-sm-4" *ngFor="let card of cards">
       
      <app-card [cardTitle]="card.user" blockClass="pc-component">
        
        <div class="card-content">

          <div class="line-container">
            Ligne blanche
            <div class="white-line"></div>
          </div>
          <div class="card-info">
            <p>Début: {{ card.debut }}</p>
            <p>Fin: {{ card.fin }}</p>
            <select id="status" [(ngModel)]="card.status">
              <option  value="Accepte">
                  Accepte
              </option>
              <option  value="Accepte">
                Refusé
            </option>
            </select>

          </div>
        </div>
      </app-card>
    </div>
  </div> -->
  


<head>
    <meta charset="utf-8">
    <title>bs4 Contacts cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container page-container">
<div class="row gutters">


    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12"  *ngFor="let absence of absences">
    	<figure class="user-card green">
			<figcaption>

				<!-- <img src="assets/images/Mazen.jpg" alt="Soeng Souy" class="profile"> -->
				<img [src]="'data:image/png;base64,' + absence.user.imageencode_64bits" alt="Soeng Souy" class="profile">

				<h4>{{absence.user.nom}}</h4>
        
        <p>ID: {{absence.id_absence}}</p>

				<p>Type: {{absence.type}}</p>
        
				<p>Début: {{ absence.debut_d | date:'yyyy-MM-dd' }}
				</p>
        
				<p>Fin: {{absence.fin_d | date:'yyyy-MM-dd'}}</p>
        
        <form [formGroup]="absenseform" (ngSubmit)="onSubmit(absence.id_absence)">

				<select id="status"  formControlName="status">
					<option  value="Accepte">Accepte	</option>
					<option  value="Refusé">Refusé</option>
				</select>
				
        <div class="button-container">
          <button type="submit" class="submit-button" [disabled]="absenseform.invalid">Submit</button>
        </div>
      
      </form>

			</figcaption>
		</figure>
	</div>

  <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
    <figure class="user-card green">
    <figcaption>
      <img src="assets/images/Mazen.jpg" alt="Soeng Souy" class="profile">
      <h4>Mazen Haouari</h4>
      <p>Type: Maladie</p>
      <p>Début: 21-09-2024</p>
      <p>Fin: 30-09-2024</p>
      <select id="status" >
        <option  value="Accepte">
            Accepte
        </option>
        <option  value="Accepte">
          Refusé
      </option>
      </select>
      <div class="button-container">
        <button type="submit" class="submit-button">Submit</button>
      </div>

    </figcaption>
  </figure>
</div>    -->


</div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
