<!-- <div class="row">
  
    <div class="col-md-12 col-xl-8">
      <h5 class="mb-3">Recent Orders</h5>
      <div class="card tbl-card">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>TRACKING NO.</th>
                <th>PRODUCT NAME</th>
                <th>STATUS</th>
                <th class="text-end">TOTAL ORDER</th>
                <th class="text-end">TOTAL AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              @for (order of recentOrder; track order) {
                <tr>
                  <td>
                    <a href="javascript:" class="text-muted">{{ order.id }}</a>
                  </td>
                  <td>{{ order.name }}</td>
                  <td>
                    <span class="d-block">
                      <i class="badge-circle {{ order.status_type }} f-10 m-r-5"></i>
                      {{ order.status }}
                    </span>
                  </td>
                  <td class="text-end">{{ order.quantity }}</td>
                  <td class="text-end">{{ order.amount }}</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
   -->

   <div class="row justify-content-center">
    <div class="col-md-12 col-xl-10">
      <div class="card tbl-card" style="min-height: 500px;">
        <div class="table-responsive">
          <table class="table table-hover mb-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Image</th>
                <th>E-mail</th>
                <th>Nom et Prénom</th>
                <th>Rôle</th>
                <th>Numéro de Téléphone</th>
                <th>Manager</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let user of recentUsers">
                <td>
                  <a href="javascript:" class="text-muted">{{ user.id }}</a>
                </td>
                <td>
                  <img *ngIf="user.image" [src]="'data:image/png;base64,' + user.image" alt="user-image" class="user-avatar me-2" />
                </td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.role }}</td> 
                <td>{{ user.num_tel }}</td>
                <td>{{ user.manager }}</td>

                <td>
                  <button class="btn-icon edit" [routerLink]="['/edit', user.id]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                      <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a1.003 1.003 0 0 0 0-1.41l-2.34-2.34a1.003 1.003 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                    </svg>
                  </button>
                  <button class="btn-icon delete" (click)="delete(user.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                      <path d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12zM16.5 4l-1-1h-7l-1 1H5v2h14V4z"/>
                    </svg>
                  </button>
                </td>



              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  